.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0;
}

.NoisyInfo {
  padding-left: 50px;
}

.Grid {
  border: 1px solid black;
}
.Grid .String {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Grid .String .Cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 1px 1px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: white;
  padding: 8px 16px;
  margin: 0 4px;
}
button:hover {
  background-color: lightgray;
}
button:active {
  background-color: lightgray;
}

.SaveButtonBlock {
  padding: 20px 0;
  background-color: black;
}

.Ideal {
  letter-spacing: 2px;
}
.Ideal h4 {
  letter-spacing: 0px;
}

.NoisyArray {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NoisyArray .NoisyItem {
  letter-spacing: 2px;
  margin: 2px 0;
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid black;
}
.NoisyArray .Active {
  background-color: black;
  color: white;
}

.ObjectName {
  padding: 10px;
}

.ResultString {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ResultString .Result {
  width: 40px;
  height: 40px;
  margin: 1px;
  border: 1px dashed black;
  padding: 1px;
}
.ResultString .One {
  background-color: black;
}
.ResultString .Zero {
  background-color: white;
}

h3 {
  margin: 0 0 20px 0;
}

.Testing {
  text-align: center;
  padding: 20px 0;
}
.Testing div {
  margin: 10px 0;
}
.Testing .Arr {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Testing .Arr div {
  margin: 0;
  padding: 4px;
}
